<div class="container">
  https://railsguides.jp/working_with_javascript_in_rails.html
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% study_item_1 = @study_items.first %>
        <tr>
          <td><%= study_item_1.name %></td>
          <td><%= study_item_1.code_no %></td>
          <td>
            <%= link_to '/study_5/alert.js', class: 'static-html-link' do %>
                <i class="fas fa-edit fa-fw"></i>html
            <% end %>
          </td>
          <td>
            <%= link_to '/study_5/alert.js', remote: true, class: 'static-remote-link' do %>
                <i class="fas fa-edit fa-fw"></i>remote
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to '#', class: 'ajax-format-html-link' do %>
                <i class="fas fa-edit fa-fw"></i>format:html
            <% end %>
          </td>
          <td>
            <%= link_to '#', class: 'ajax-format-json-link' do %>
                <i class="fas fa-edit fa-fw"></i>format:json
            <% end %>
          </td>
          <td>
            <%= link_to '#', class: 'ajax-format-js-link' do %>
                <i class="fas fa-edit fa-fw"></i>format:js
            <% end %>
          </td>
          <td>
            <%= link_to '#', class: 'ajax-data-html-link' do %>
                <i class="fas fa-edit fa-fw"></i>dataType:html
            <% end %>
          </td>
          <td>
            <%= link_to '#', class: 'ajax-data-json-link' do %>
                <i class="fas fa-edit fa-fw"></i>dataType:json
            <% end %>
          </td>
          <td>
            <%= link_to '#', class: 'ajax-data-js-link' do %>
                <i class="fas fa-edit fa-fw"></i>dataType:script
            <% end %>
          </td>

        </tr>
        <tr>
          <td>
            <%= link_to edit_study_item_path(study_item_1), remote: true, class: 'remote-link' do %>
                <i class="fas fa-edit fa-fw"></i>remote
            <% end %>
          </td>
          <td>
            <%= link_to edit_study_item_path(study_item_1), remote: true, class: 'fire-link' do %>
                <i class="fas fa-edit fa-fw"></i>fire
            <% end %>
          </td>
          <td>
            <%= link_to edit_study_item_path(study_item_1), remote: true, class: 'trigger-link' do %>
                <i class="fas fa-edit fa-fw"></i>trigger
            <% end %>
          </td>
          <td>
            <%= link_to '#', class: 'ajax-link' do %>
                <i class="fas fa-edit fa-fw"></i>ajax
            <% end %>
          </td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div id="result">

      </div>
    </div>
  </div>
</div>
<script>
    Study.study_5.remoteLink();
</script>