<div class="container">
  <div class="row mt-4">
    <div class="col-12">
      <h1><%= t('.title') %><small><%= StudyItem.model_name.human %></small></h1>
      <div class="table-container">
        <%= render 'table', study_items: @study_items %>
      </div>
      <h3><%= StudyItem.i18n_name %></h3>
      <h3><%= StudyItem.i18n('name') %></h3>
      <h3><%= StudyItem.i18n('gender') %></h3>
      <h3><%= StudyItem.i18n('gender.male') %></h3>
      <h3><%= StudyItem.i18n('gender.female') %></h3>
    </div>
  </div>
</div>